body{
  padding: 0px;
  margin: 0px;
  background-color: #fefefe;
  width: 100%;
  min-height:100v ;
}
nav{
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fefefe;
  color: #222222;
  align-items: center;
  vertical-align: middle;
}
.container{
  padding: 20px;
}
.blog-card{
  background-color: white;
}
.d-flex{
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

